<!DOCTYPE html>
<html lang="en" class="no-js" >
	<head>
		<meta charset="utf-8">
		<meta name="description" content="{% block meta_description %}Insights Dashboard{% endblock %}">

		<title>{% block title %}Insights Dashboard{% endblock %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>

	<body class="{% if in_clean_page %}clean_page{% endif %} {% if active_lang == 'ar' or lang == 'ar' %}arabic{% endif %} {% block bodyclass %}{% endblock %}" >
		<div id="wrapper">
			{% include "admin/header.html" %}

			<div class="panel-body">
                {% block body %}{% endblock %}
            </div>
   		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

		{% block extraJS %}{% endblock %}
	</body>
</html>
