<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Flask Template Project | Admin Panel{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/lib/jquery-2.1.4.min.js') }}"></script>

    <!-- jQuery UI -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Layout css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Twitter Bootstrap Framework -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>

<div class="page-admin">
    {% include "navigation.html" %}
    <!-- messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages|length != 0 %}
        <div class="container-fluid">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ category|capitalize }}!</strong> {{ message|safe }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <!-- errors -->
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <!-- child template -->
    {% block body %}{% endblock %}
</div>

{% block extrajs %}{% endblock %}
</body>
</html>