{#% load i18n %#}

<header id="header">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="#">
			<img style="height:24px" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
		</a>
        <h5>Customer Reporting Admin</h5>
	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
</header>
